html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  background: none;
}

html, body {
  min-height: 100%;
}

body {
  background:  $background-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size:   $base-font-size;
  line-height: $base-line-height;
  color:       $base-text-color;
  text-rendering: optimizeLegibility;
  @include font-smoothing;
}

%container { @include outer-container; }
.clearfix  { @include clearfix; }

a {
  text-decoration: none;
  color: #1ec7f0;
  font-weight: 400;
  @include transition(color 200ms ease-in-out);

  &:hover, &:active {
    color: darken(#1ec7f0, 15%);
  }
}
