<section class="l-footer-lead">
  <h1 class="lead">Have a project in mind? <br class="hidden-inline-xs">We would love to <br class="visible-inline-xs"><a href="mailto:hello@3dro.ps">hear from you</a></h1>
</section>

<footer class="l-footer">
  <ul class="slinks">
    <li class="slinks__facebook">
      <a href="http://facebook.com/3drops.se">
        <i class="slinks__icon i-facebook-small visible-inline-block-xs"></i>
        <i class="slinks__icon i-facebook-large hidden-inline-block-xs"></i>
      </a>
    </li>
    <li class="slinks__twitter">
      <a href="http://twitter.com/@3drops">
        <i class="slinks__icon i-twitter-small visible-inline-block-xs"></i>
        <i class="slinks__icon i-twitter-large hidden-inline-block-xs"></i>
      </a>
    </li>
    <li class="slinks__dribbble">
      <a href="http://dribbble.com/3drops">
        <i class="slinks__icon i-dribbble-small visible-inline-block-xs"></i>
        <i class="slinks__icon i-dribbble-large hidden-inline-block-xs"></i>
      </a>
    </li>
    <li class="slinks__github">
      <a href="http://github.com/3drops">
        <i class="slinks__icon i-github-small visible-inline-block-xs"></i>
        <i class="slinks__icon i-github-large hidden-inline-block-xs"></i>
      </a>
    </li>
    <li class="slinks__email">
      <a href="mailto:hello@3dro.ps">
        <i class="slinks__icon i-mail-small visible-inline-block-xs"></i>
        <i class="slinks__icon i-mail-large hidden-inline-block-xs"></i>
      </a>
    </li>
  </ul>
</footer>
