.l-main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.l-header {
  margin-bottom: 168px;
}

.l-header-lead {
  padding: 0 140px;
}

.l-footer {
  margin-top: 100px;
  margin-bottom: 180px
}

.l-footer-lead {
  padding: 0 140px;
}

.l-posts {
  width: 100%;
  padding-top: 168px;
  padding-bottom: 40px;
}
