.l-main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.l-header {
  margin-bottom: 68px;
  padding: 0 16px;

  @include media($screen-br-sm) {
    margin-bottom: 168px;
    padding: 0;
  }
}

.l-header-lead {
  padding: 0 32px;
}

.l-footer-lead {
  padding: 0 32px;
  margin-top: 60px;

  @include media($screen-br-sm) {
    margin-top: 120px;
  }
}

.l-footer {
  margin-top: 50px;
  margin-bottom: 50px;

  @include media($screen-br-sm) {
    margin-top: 100px;
    margin-bottom: 180px;
  }
}

.l-content-wrap {
  width: 100%;
  padding-top: 68px;

  @include media($screen-br-sm) {
    padding-top: 168px;
  }
}

.l-about-wrap {
  @extend .l-content-wrap;
  max-width: 600px;
  margin: 0 auto;
}

.l-about-body {
  @include font-size(16px, $line-height: false);
  line-height: 1.8;
  padding: 0 16px;
  margin-top: 40px;

  @include media($screen-br-sm) {
    @include font-size(18px, $line-height: false);
    padding: 0;
    margin-top: 80px;
  }
}

.l-about-people {
  @extend .clearfix;
}

.l-about-person-wrap {
  float: left;
  width: 50%;
  text-align: center;
  padding: 0 20px;

  @include media($screen-br-sm) {
    padding: 0 32px;
  }
}

.l-about-person {
  display: inline-block;
  vertical-align: bottom;
  max-width: 170px;
  width: 100%;
}
