.post {
  text-align: center;
  margin-bottom: 60px;

  @include media($screen-br-sm) {
    margin-bottom: 100px;
  }
}

.post__author {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 8px solid #fff;
  margin-top: -35px;

  @include media($screen-br-sm) {
    width: 108px;
    height: 108px;
    margin-top: -54px;
  }
}

.post__author-avatar {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.post__body {
  width: 100%;
  max-width: 600px;
  margin: 10px auto 30px;

  @include media($screen-br-sm) {
    margin: 20px auto 60px;
  }

}

.post__title,
.post__meta,
.post__caption {
  @include media(max-width $screen-sm-max) {
    padding: 0 16px;
  }
}

.post__title {
  @include font-size(21px, $line-height: false);
  line-height: 1.4;
  margin: 0;
  padding: 0;
  // background: pink;

  @include media($screen-br-sm) {
    @include font-size(30px, $line-height: false);
  }
}

.post__meta {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  display: inline-block;
  max-width: 300px;
  color: #cfd3d5;

  @include media(max-width $screen-sm-max) {
    @include font-size(14px);
  }
}

.post__meta-item {
  display: inline-block;
  margin-right: 16px;

  &:last-of-type { margin-right: 0; }

  a {
    color: inherit;
    font-weight: 200;
  }

  a:hover { color: darken(#cfd3d5, 10%); }
}

.post__caption {
  margin-top: 50px;
  text-align: left;

  p {
    margin-bottom: 30px;
    margin-top: 0;
    &:last-of-type { margin-bottom: 0; }
  }
}
