.button-list {
  @extend .clearfix;
  display: inline-block;

  > .button, .multibutton {
    float: left;
    margin-right: 12px;
    &:last-child { margin-right: 0; }
  }
}

.button {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #e7ebef;
  border-radius: 50%;
  text-align: center;
  color: #dbe2e6;
  background: #fff;
  position: relative;
  @include transition-property(background, border);
  @include transition-duration(300ms);
  @include transition-timing-function(ease);

  &:active,
  &.active,
  { border: none; }
}

.button__icon {
  @extend .i-base;
  @extend %absolute-center;
  @include transition(all 300ms ease);
}

.button__icon--default {
  @extend .button__icon;

  .button:hover &,
  .button.hover &,
  .button:active &,
  .button.active &,
   {
    opacity: 0;
    @include transform(scale(.85));
  }
}

.button__icon--hover {
  @extend .button__icon;
  opacity: 0;
  @include transform(scale(.85));

  .button:hover &,
  .button.hover & {
    opacity: 1;
    @include transform(scale(1));
  }
}

.button__icon--active {
  @extend .button__icon;
  opacity: 0;
  @include transform(scale(.85));

  .button:active &,
  .button.active & {
    opacity: 1;
    @include transform(scale(1));
  }
}

.multibutton {
  .preserve3d & {
    @include perspective(1000);
    @include transform-style(preserve-3d);
  }
}

.multibutton, .multibutton__wrap {
  width: 50px;
  height: 50px;
  position: relative;

  .like_button, .reblog_button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: 0;
  }

  .reblog_button {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }

  .like_button .like_toggle {
    width: 100% !important;
    height: 100% !important;
  }
}

.multibutton__wrap {
  @include transition(all 800ms $ease-out-expo);
  position: relative;

  .preserve3d & {
    @include transform-style(preserve-3d);
  }
}

.multibutton__front, .multibutton__back {
  @include transition(all 800ms $ease-out-expo);

  .preserve3d & {
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
  }

  position: absolute;
  top: 0;
  left: 0;
}

.multibutton__front {
  z-index: 2;

  .preserve3d & {
    @include transform(rotateY(0deg));
  }

  .is-flipped & {
    .preserve3d & {
      @include transform(rotateY(180deg));
    }

    .no-preserve3d & {
      opacity: 0;
    }
  }
}

.multibutton__back {
  .preserve3d & {
    @include transform(rotateY(-180deg));
  }

  .no-preserve3d & {
    opacity: 0;
  }

  .is-flipped & {
    .preserve3d & {
      @include transform(rotateY(0deg));
    }

    .no-preserve3d & {
      opacity: 1;
    }
  }
}

.button-hover--red     { border-color: #f5c5ce; }
.button-active--red    { background: #ec3c5d; }
.button-hover--green   { border-color: #b8eacf; }
.button-active--green  { background: #24b568; }
.button-hover--purple  { border-color: #e1cff1; }
.button-active--purple { background: #a36fd5; }

.button--reblog {
  @extend .button;
  .button__icon--default { @extend .i-reblog-grey; }
  .button__icon--hover   { @extend .i-reblog-green; }
  .button__icon--active  { @extend .i-reblog-white; }

  &:hover, &.hover { @extend .button-hover--green; }
  &:active, &.active { @extend .button-active--green; }
}

.button--like {
  @extend .button;
  .button__icon--default { @extend .i-heart-grey; }
  .button__icon--hover   { @extend .i-heart-red; }
  .button__icon--active  { @extend .i-heart-white; }

  &:hover, &.hover { @extend .button-hover--red; }
  &:active, &.active { @extend .button-active--red; }
}

.like_button.liked + .button--like {
  @extend .button-hover--red;
  .button__icon--default { @extend .i-heart-red; }
}

.button--share {
  @extend .button;
  .button__icon--default { @extend .i-share-grey; }
  .button__icon--hover   { @extend .i-share-purple; }
  .button__icon--active  { @extend .i-share-white; }

  .button--share__icon--close, .button--share__icon--closeactive {
    opacity: 0;
    @extend .button__icon;
    @include transform(scale(.85));
  }

  .button--share__icon--close {
    @extend .i-close-purple;
  }

  .button--share__icon--closeactive {
    @extend .i-close-white;
  }

  &:hover, &.hover { @extend .button-hover--purple; }
  &:active, &.active { @extend .button-active--purple; }

  .is-flipped & {
    @extend .button-hover--purple;
    .button__icon--default,
    .button__icon--hover,
    .button__icon--active  {
      @include transform(scale(.85));
      opacity: 0;
    }

    .button--share__icon--close {
      opacity: 1;
      @include transform(scale(1));
    }

    &:active {
      .button--share__icon--closeactive {
        opacity: 1;
        @include transform(scale(1));
      }
    }
  }
}

.button--facebook {
  @extend .button;
  background: #3b5997;
  border: none;

  .button__icon {
    @extend .i-facebook-small;
    bottom: -21px;
    right: -8px;
  }
}

.button--twitter {
  @extend .button;
  background: #39a7df;
  border: none;

  .button__icon {
    @extend .i-twitter-small;
    bottom: -6px;
    right: -6px;
  }
}
