{block:Photo}
  {LinkOpenTag}
  <img class="post--photo__photo" src="{PhotoURL-HighRes}" alt="{PhotoAlt}">
  {LinkCloseTag}
  <a class="post__author" href="{PostAuthorURL}">
    <img class="post__author-avatar" src="{PostAuthorPortraitURL-128}" alt="{PostAuthorName}">
  </a>
  <div class="post__body">
    <h1 class="post__title"><a href="{Permalink}" class="js-post-title"></a></h1>
    <ul class="post__meta">
      <li class="post__meta-item">
        <a href="{Permalink}">{TimeAgo}</a>
      </li>
      {block:HasTags}
        {block:Tags}
        <li class="post__meta-item">
          <a href="{TagURL}">#{Tag}</a>
        </li>
        {/block:Tags}
      {/block:HasTags}
    </ul>
    {block:Caption}
    <div class="post__caption js-post-caption">
      {Caption}
    </div>
    {/block:Caption}
  </div>
{/block:Photo}
