<section class="l-header-lead">
  <h1 class="lead">Every new project is a chance to<br class="hidden-inline-xs"> create something personal</h1>
</section>

<section class="l-about-wrap">
  <div class="l-about-people">
    <div class="l-about-person-wrap">
      <a href="http://twitter.com/@farzadban" class="l-about-person about-person">
        <div class="about-person__avatar--farzad"></div>
        <span class="about-person__name">Farzad Ban</span>
        <span class="about-person__title">Designer</span>
      </a>
    </div>
    <div class="l-about-person-wrap">
      <a href="http://twitter.com/@erickreutz" class="l-about-person about-person">
        <div class="about-person__avatar--eric"></div>
        <span class="about-person__name">Eric Kreutzer</span>
        <span class="about-person__title">Developer</span>
      </a>
    </div>
  </div>
  <div class="l-about-body">
    <p>
      We are a small, versatile design and development studio focused on creating modern digital products. We take each project very personal and care about your customers as much you do. After years of hard work, we know this business well enough to know what works and what doesn't.
    </p>
    <p>
      We believe the story behind your product is what makes it unique. We want your users to feel the same way you feel about your idea. You tell us the story and we'll give you a roadmap. From concept to polished product we'll walk you all the way and together build something we both love.
    </p>
  </div>
</section>
