<header class="l-header">
  <nav class="sitenav">
    <ul class="sitenav__list">
      <li class="sitenav__item">
        <a href="/" class="active">
          <img class="sitenav__logo" src="/images/logo.svg">
        </a>
      </li>
      <li class="sitenav__item">
        <a href="javascript:void(0);">About</a>
      </li>
    </ul>
    <ul class="sitenav__altlist">
      <li class="sitenav__item">
        <a href="javascript:void(0);" class="sitenav__contact">Get in touch</a>
      </li>
    </ul>
  </nav>
</header>

<section class="l-header-lead">
  <h1 class="lead">We help startups turn their ideas into modern digital products</h1>
</section>

<section class="l-posts">
  <%= partial "partials/posts" %>
</section>

<section class="l-footer-lead">
  <h1 class="lead">Have a project in mind? <br class="hidden-inline-xs">We would love to <a href="mailto:hello@3dro.ps">hear from you</a></h1>
</section>

<footer class="l-footer">
  <ul class="slinks">
    <li class="slinks__facebook">
      <a href="http://facebook.com/3drops.se">
        <i class="slinks__icon"></i>
      </a>
    </li>
    <li class="slinks__twitter">
      <a href="http://twitter.com/@3drops">
        <i class="slinks__icon"></i>
      </a>
    </li>
    <li class="slinks__dribbble">
      <a href="http://dribbble.com/3drops">
        <i class="slinks__icon"></i>
      </a>
    </li>
    <li class="slinks__github">
      <a href="http://github.com/3drops">
        <i class="slinks__icon"></i>
      </a>
    </li>
    <li class="slinks__email">
      <a href="mailto:hello@3dro.ps">
        <i class="slinks__icon"></i>
      </a>
    </li>
  </ul>
</footer>
