<header class="l-header"></header>
<section class="l-header-lead">
  <h1 class="lead">We help startups turn their ideas into modern digital products</h1>
</section>
<section class="l-posts">
  <%= partial "partials/posts" %>
</section>
<section class="l-footer-lead">
  <h1 class="lead">Have a project in mind? <br class="hidden-inline-xs">We would love to <a href="mailto:hello@3dro.ps">hear from you</a></h1>
</section>
<footer class="l-footer"></footer>
