<section class="l-header-lead">
  <h1 class="lead">We help startups turn their <br class="hidden-inline-xs">ideas into modern digital products</h1>
</section>

<section class="l-content-wrap">
  <%= partial "partials/posts" %>
</section>
