<div class="l-buttons">
  <div class="l-buttons-center">
    <div class="button-list js-buttonlist">
      <div class="multibutton">
        <div class="multibutton__wrap">
          <div class="multibutton__front">
            <a class="button--like" href="javascript:void(0);">
              <i class="button__icon"></i>
            </a>
          </div>
          <div class="multibutton__back">
            <a class="button--facebook" href="javascript:void(0);">
              <i class="button__icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="multibutton">
        <div class="multibutton__wrap">
          <div class="multibutton__front">
            <a class="button--reblog" href="javascript:void(0);">
              <i class="button__icon"></i>
            </a>
          </div>
          <div class="multibutton__back">
            <a class="button--twitter" href="javascript:void(0);">
              <i class="button__icon"></i>
            </a>
          </div>
        </div>
      </div>
      <a class="button--share js-share" href="javascript:void(0);">
        <i class="button__icon"></i>
      </a>
    </div>
  </div>
</div>
